.wrapper
  %h1.page-title
    Thank you for Rails Girls Tokyo, More! & P4D
  .memos-list__contener
    .memos-list__box
      %p.about-p
        このwebアプリは、Ruby on Rails で作成されています。
        プログラミング経験がほとんど無い私ですが、Rails Girls Tokyo, More! と、P4D（P4D デザイナー向けプログラム部）という勉強会に参加し、たくさんのエンジニアさんにご協力いただいて作成しました。1年と少し前、
        = link_to( "Rails Girls kyoto ", "http://railsgirls.com/kyoto", target: "_blank")
        に参加して以来、マイペースに勉強を続けてやっとリリースする事ができました。
      %p.about-p
        morikomemo は、まだまだ機能的に至らない点などありますが、今後もちょっとづつ使い勝手が良くなるように試行錯誤していきたいと思います。
      %p.about-p
        また、新しいアプリの開発にも取り組んでいくつもりですので、引き続きよろしくお願いいたします。どうもありがとうございました！

      %p.about-p
        = link_to( "P4D（デザイナー向けプログラム部）" , "http://prog4designer.github.io/" , :target => "_blank" )
        %br
        = link_to( "Rails Girls" , "http://railsgirls.jp/" , :target => "_blank" )
