.header__signed_in
  background-color: #b0ff32
  +filter-gradient(#b0ff32, #cff98b, vertical)
  +background-image(linear-gradient(top,  #b0ff32 0%,#cff98b 91%))
  padding: 20px 0
  position: rerative
  z-index: 2
  +single-box-shadow
.header__logo
  +hover-link
.about
  margin: 0 auto