//.memos-list
.memos-list__box
  background-color: $ivory
  border: $pale-ivoyr 2px solid
  +border-radius(6px)
  margin: 30px 20px
  padding: 16px

.memo__user
  margin: 20px 20px
  height: 50px
.memo__user-icon
  height: 50px
  width: 50px
  +inline-block
  +border-radius(50%)
  border: 3px solid $white
.memo__user-nickname
  color: $aqua
  font-size: 126%
  +inline-block
  font-weight: bold
  margin-left: 6px