- if not params[:controller] == "top"
  %header.header
    .wrapper
      .header__menu-left
        = link_to image_tag( 'header_logo.png', name: "morikomemo", class: "header__logo"), :root
      .header__menu-right
        %i.fa.fa-bars.button-list__icon.js-open-menu-children
        %ul.header-menu-children.js-opened-menu-children
          %li.header-menu-children__list= link_to("morikomemoとは？" , root_path) 
          %li.header-menu-children__list= link_to( "Twitterでログイン",  "/auth/twitter" )

        
