-# = current_user.memos.last.try(:entry) # debug用
.wrapper
  %h1.new__page-title
    あたらしいメモ

  = form_for @memo do |f|
    .field__text-area
      - # = f.label :text
      = f.text_area :entry , required: "" , class: "text-area js-autosize" 
    .field__button-area
      = f.submit '登録する', class: "button-register"

