-# = current_user.memos.last.try(:entry) # debug用
.wrapper
  %h1.new__page-title
    あたらしいメモ

  = form_for @memo do |f|
    %div.field
      - # = f.label :text
      = f.text_area :entry , required: "" , class: "text-area" 

    %div.actions
      = f.submit
